.env
src/utils/__pycache__/
Pipfile.lock
__pycache__/
.gitignore:*
Pipfile:*
Pipfile.lock:*
README.md:*

src/utils/func.py:Zone.Identifier
src/test2.py:Zone.Identifier
src/test.py:Zone.Identifier
src/main.py:Zone.Identifier
src/utils/config.json:Zone.Identifier
